spring:
  datasource:
    url: jdbc:h2:mem:batchdb;MODE=Oracle;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: true
      name: processOrdersJob
